.blog{
 display: flex;
 flex-direction: column;
 justify-content: center;
 
 border: 1px transparent;
 border-radius: 5px;
 padding: 0 6px;
 min-height: 150px;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.blog:hover {
   filter: drop-shadow(0 0 2em #646cffaa);
   box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 
  }
.blog h2{
 margin:0;
}

.blog h3{
 margin: 0;
}

.tags{
 display: flex;
align-items: center;
justify-content: center;
}
.tag{
 margin: 2px 4px;
 padding: 2px 5px;
 border: 1px solid;
 border-radius: 5px;
}